body {
    background-color: #aa80ff;
}

h1 {
    font-family: 'Itim', cursive;
    font-size: 6rem;
    text-align: center;
    margin-bottom: 0;
}

h3 {
    font-family: 'Itim', cursive;
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

.dices {
    display: flex;
    margin: 6rem auto 0;
    width: fit-content;
}

.dice {
    padding: 0 4rem;
}

.dice p {
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.dice img {
    width: 18rem;
    height: auto;
    border-radius: 30px;
    border: 5px solid black;
}

.roll-button {
    margin: 1rem auto;
    width: fit-content;
    background-color: rgb(255, 20, 20);
    border-radius: 40px;
}

.roll-button p {
    font-family: 'Itim', cursive;
    font-size: 4rem;
    padding: 1rem;
}

.roll-button:hover {
    cursor: pointer;
}



@media (max-width:880px) {
    .dice img {
        width: 13rem;
        height: auto;
        border: 3px solid black;
    }

    h1 {
        font-family: 'Itim', cursive;
        font-size: 4rem;
        text-align: center;
        margin-bottom: 0;
    }
    
    h3 {
        font-family: 'Itim', cursive;
        font-size: 2rem;
        text-align: center;
        margin: 0;
    }

    .roll-button p {
        font-family: 'Itim', cursive;
        font-size: 2.5rem;
        padding: 1rem;
    }
}

@media (max-width:700px) and (max-height:900px) {
    .dices {
        display: block;
        margin: 2rem auto 0;
        width: fit-content;
    }

    h1 {
        font-family: 'Itim', cursive;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 0;
    }
    
    h3 {
        font-family: 'Itim', cursive;
        font-size: 1.5rem;
        text-align: center;
        margin: 0;
    }
}

@media (max-width:376px) and (max-height:667px) {
    .dice img {
        width: 8rem;
        height: auto;
        border: 3px solid black;
    }

    .dice p {
        text-align: center;
        font-family: 'Itim', cursive;
        font-size: 2rem;
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
}